<div class="container">
    <div class="row">
        <div class="col usertwez">
            <!--Profile image-->
            <div>
                <img class="defaultprofile" src="/images/feather.png" alt="default profile picture">
            </div>
            <!--Profile information-->
            <div>
                <div>
                    Full Name
                </div>
                <div>
                    Username
                </div>
                <div>
                    Twez Count
                </div>
            </div>
            <div>Who to Follow</div>
            <div>Trends</div>

        </div>
        <div class="col usertwez">
            <h5>Trends</h5>
        </div>
        <div class="col usertwez">
            <h5>Who to follow</h5>
        </div>
        <!--User Twez-->
        <div class="col-md-12 usertwez">
            <form>
                <label for="createTwez">Write a Twez</label>
                <textarea class="form-control" id="createTwez"></textarea>
                <div class="btn-box-actions">
                    <button type="submit">Write</button>
                </div>
            </form>
        </div>
        <div class="col-md-12 usertwez">
            <div>
                <img class="defaultprofile" src="/images/feather.png" alt="default profile picture">
            </div>
            <div>
                Username
            </div>
            <div>
                I'm new to Twezzy! Hello! <span class="hashtag">#waddleclub</span>
            </div>
            <form>
                <div class="btn-box-actions">
                    <button type="button">Comment</button>
                    <button type="button">Like</button>
                    <button type="button">Dislike</button>
                </div>
            </form>
        </div>
        <div class="col-md-12 usertwez">
            <div>
                <img class="defaultprofile" src="/images/feather.png" alt="default profile picture">
            </div>
            <div>
                Username
            </div>
            <div>
                I'm new to Twezzy! Hello! <span class="hashtag">#waddleclub</span>
            </div>
            <form>
                <div class="btn-box-actions">
                    <button type="button">Comment</button>
                    <button type="button">Like</button>
                    <button type="button">Dislike</button>
                </div>
            </form>
        </div>
        <div class="col-md-12 usertwez">
            <div>
                <img class="defaultprofile" src="/images/feather.png" alt="default profile picture">
            </div>
            <div>
                Username
            </div>
            <div>
                I'm new to Twezzy! Hello! <span class="hashtag">#waddleclub</span>
            </div>
            <form>
                <div class="btn-box-actions">
                    <button type="button">Comment</button>
                    <button type="button">Like</button>
                    <button type="button">Dislike</button>
                </div>
            </form>
        </div>
    </div>
</div>