<div class="container">
    <div class="profilepage">
        <div class="row">
            <div class="row profilebox">
                <!--Profile heading-->
                <div class="col-lg-12">
                    <h2>Username's Profile</h2>
                </div>
                <!--Profile image-->
                <div class="col-lg-2 col-md-2">
                    <img class="defaultprofile" src="/images/feather.png" alt="default profile picture">
                </div>
                <!--Profile information-->
                <div class="col-lg-10 col-md-10">
                    <ul>
                        <li>Birthday: MM/DD/YYYY</li>
                        <li>Description: This is about me</li>
                        <li>Followers</li>
                        <li>Following</li>
                    </ul>
                </div>

            </div>
            <!--User Twez-->
            <div class="row usertwez">
                <div class="col-lg-2 col-md-2">
                    <img class="defaultprofile" src="/images/feather.png" alt="default profile picture">
                </div>
                <div class="col-lg-1 col-md-1 username">
                    Username
                </div>
                <div class="col-lg-9 col-md-9">
                    I'm new to Twezzy! Hello! <span class="hashtag">#waddleclub</span>
                </div>
                <form>
                    <div class="btn-box-actions">
                        <button type="button">Comment</button>
                        <button type="button">Like</button>
                        <button type="button">Dislike</button>
                    </div>
                </form>
            </div>
            <!--User Twez-->
            <div class="row usertwez">
                <div class="col-lg-2 col-md-2">
                    <img class="defaultprofile" src="/images/feather.png" alt="default profile picture">
                </div>
                <div class="col-lg-1 col-md-1 username">
                    Username
                </div>
                <div class="col-lg-9 col-md-9">
                    I'm new to Twezzy! Hello! <span class="hashtag">#waddleclub</span>
                </div>
                <form>
                    <div class="btn-box-actions">
                        <button type="button">Comment</button>
                        <button type="button">Like</button>
                        <button type="button">Dislike</button>
                    </div>
                </form>
            </div>
            <!--User Twez-->
            <div class="row usertwez">
                <div class="col-lg-2 col-md-2">
                    <img class="defaultprofile" src="/images/feather.png" alt="default profile picture">
                </div>
                <div class="col-lg-1 col-md-1 username">
                    Username
                </div>
                <div class="col-lg-9 col-md-9">
                    I'm new to Twezzy! Hello! <span class="hashtag">#waddleclub</span>
                </div>
                <form>
                    <div class="btn-box-actions">
                        <button type="button">Comment</button>
                        <button type="button">Like</button>
                        <button type="button">Dislike</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>